extends base

block title
  link(rel="stylesheet" type="text/css" href="about.css")
  title TMC4 | About

block content
  div(id="about" class="b1 flex col-between")
    h3 How To Play
    p Click "Play" on the home page to start a new game, then send the game URL to a friend. Once your friend visits that URL, the two of you will be connected. Enter a name, select a time control, then click "Ready." Once both of you are ready, the game will start! Red always goes first.
    p Play is the same as regular Connect Four, except for the order of pieces. Upcoming pieces are displayed from left to right in the bottom left corner, above your name. Clicking "1 2 3" will number the pieces on the board in the order they were placed.
    h3 How Upcoming Pieces Are Determined
    p Players often get to play twice in a row, but never get to play three or more times in a row. Furthermore, if a game fills every square on the board, the board will alway be filled with 21 red pieces and 21 blue pieces. Every time you start a new game, the turn counter jumps to a random point in the Thue-Morse sequence and then increments as pieces are played.
    p There are two questions I have about this game. The first question is, does it succeed in eliminating the first player advantage? I think this is a rather difficult question to answer. Maybe it's not even well-defined, because the turn sequence changes each time you play the game. I dunno! The second question is, is this a fun game to play? Does the ability to move two times in a row create interesting new strategies, or is it too powerful, making the game too easy to win? You can help me answer this question by playing the game with your friends and emailing your feedback to matthewfelixyuan@gmail.com. Thanks!
    h3 Why I Made This
    p In regular Connect Four, the player who goes first has a guaranteed winning strategy. The Thue-Morse sequence is in some sense the "most fair" sequence for taking turns, so I thought using it to play Connect Four might eliminate the first player advantage, but this seems hard to verify. However, it's not hard to verify that the ability to sometimes play twice in a row gives rise to lots of new tactical considerations and forces you to think harder. Play a few games and let me know what you think!
    div(class="flex row-center")
      a(href="/" class="butt") Home
      a(href="mailto:thuemorseconnect4@gmail.com" class="butt") Contact
