doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-widdth, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="icon" type="image/svg+xml" href="logo.svg")
    block title
  body
    div(class="container")
      block content
    block scripts
