doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="stylesheet" type="text/css" href="sizes.css")
    link(rel="stylesheet" type="text/css" href="texts.css")
    link(rel="stylesheet" type="text/css" href="colors.css")
    link(rel="stylesheet" type="text/css" href="display.css")
    link(rel="icon" type="image/png" href="logo.png")
    block title
  body
    div(id="universe")
      div(id="box" class="b1")
        block content
    block scripts
