doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-widdth, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" type="text/css" href="style.css")
    title TMC4 | Game Not Found!
  body
    div(class="container")
      div(class="row border flex justify-content-center")
        div(class="m4") Oops! We couldn't find a game with that ID.
      div(class="row border flex justify-content-between")
        a(href="/new" class="m4") New Game
        a(href="/join" class="m4") Join Game
