extends base

block title
  title TMC4 | Play!

block content
  div(class="b1 flex justify-content-between")
    div(class="flex")
      img(class="m4" height="20" src="logo.svg")
      div(id="marquee" class="m4 vct") Thue-Morse Connect Four
    div(id="id" class="m4 vct") maybe something?
  div(class="b1")
    canvas(id="board-canvas" width="1400" height="1200")
    img(id="board-img")
  div(class="b1 flex justify-content-between")
    div(class="flex")
      canvas(id="future-canvas" width="1600" height="200")
      img(id="future-img" class="m4" width="160" height="20" src="nothing.png")
    div(class="flex")
      button(id="start" class="m4") Start
      button(id="reset" class="m4") Reset
  div(class="b1 flex justify-content-between")
    div(class="flex")
      div(id="my-color" class="m4 sq")
      div(id="my-name" class="m4")
      input(id="my-name-input" class="m4" type="text" placeholder="enter a name")
    div(class="flex")
      div(id="red-div" class="m4 vct") 00:00
      div(id="blu-div" class="m4 vct") 00:00
    div(class="flex")
      div(id="their-name" class="m4")
      div(id="their-color" class="m4 sq")

block scripts
  //Gives us the socket.io framework.
  script(src="/socket.io/socket.io.js")
  //Gives us methods that the main script uses.
  script(src="/logic.js")
  script(src="/squares.js")
  script(src="/wobbly.js")
  //(Pug passes us the game object)
  script.
    var game = {};
    game.id = "#{id}";
    game.history = "";
    var timer = {};
    timer.redStart = Number.NEGATIVE_INFINITY;      // The start time (in ms) of each color's most recent move/pair of moves.
    timer.bluStart = Number.NEGATIVE_INFINITY;
    timer.redTime = 0;                  // The time elapsed (in ms) for each color, NOT INCLUDING THE ACTIVE TIMING INTERVAL.
    timer.bluTime = 0;
    timer.handle = 0; // This is a reference to the repeating code that runs the timer. It is zero when the timer is stopped.
  //Gives us the main script.
  script(src="/main.js")
