extends base

block title
  title TMC4 | Play!

block content
  div(class="b1 flex justify-content-center")
    div(class="m4 vct") Thue-Morse
    img(class="m4" height="20" src="logo.png")
    div(class="m4 vct") Connect Four
  div(id="board-div" class="b1 flex justify-content-center vct")
    canvas(id="board-canvas" width="1400" height="1200")
    img(id="board-img")
    div(id="end-panel")
      div(class="flex justify-content-center") Game Over!
    div(id="play-panel")
      div(class="flex justify-content-center") Play!
    div(id="start-panel")
      div(class="flex justify-content-around")
        input(class="my-name" type="text" placeholder="enter a name" autofocus)
        div vs.
        div(class="their-name")
      div(class="flex justify-content-between")
        input(id="one-min" name="time" type="radio")
        label(tabindex="0" for="one-min" class="butt") 1 min.
        input(id="thr-min" name="time" type="radio")
        label(tabindex="0" for="thr-min" class="butt") 3 min.
        input(id="ten-min" name="time" type="radio")
        label(tabindex="0" for="ten-min" class="butt") 10 min.
        input(id="inf-min" name="time" type="radio")
        label(tabindex="0" for="inf-min" class="butt") ∞ min.
      div(class="flex justify-content-center")
        input(id="ready" type="checkbox")
        label(tabindex="0" for="ready" class="butt") Ready
  div(id="controls" class="b1")
    div(class="flex justify-content-between")
      div(class="flex")
        canvas(id="future-canvas" width="1600" height="200")
        img(id="future-img" width="160" height="20" src="nothing.png")
      div(class="flex")
        button(class="butt") Resign
        div(style="width: 12px")
        button(id="number-toggle" class="butt") 1 2 3
    div(class="flex")
      div(class="flex half")
        div(id="my-color" class="sq")
        div(style="width: 12px")
        div(class="my-name")
        div(id="my-time" class="timer vct") ???
      div(style="width: 12px")
      div(class="flex half")
        div(id="their-time" class="timer vct") ???
        div(class="their-name")
        div(style="width: 12px")
        div(id="their-color" class="sq")

block scripts
  //Gives us the socket.io framework.
  script(src="/socket.io/socket.io.js")
  //Gives us methods that the main script uses.
  script(src="/logic.js")
  script(src="/display.js")
  //(Pug passes us the game object)
  script.
    var id = "#{id}";
    var handle = 0;
    var game = {};
    game.history = "";
  //Gives us the main script.
  script(src="/main.js")
