extends base

block title
  title TMC4 | Play!

block content
  div(class="b1 row-center")
    div(class="m4") Thue-Morse
    img(class="m4" height="20" src="logo.png")
    div(class="m4") Connect Four
  div(id="board-div" class="b1")
    canvas(id="board-canvas" width="1400" height="1200")
    img(id="board-img")
    div(id="rematch-panel")
      div(id="rematch" class="butt") Rematch!
    div(id="end-panel")
    div(id="play-panel") Play!
    div(id="start-panel" class="col-between")
      div(class="row-between")
        input(class="my-name" type="text" placeholder="enter a name" autofocus)
        div(style="width: 20px; text-align: center") vs
        div(class="their-name")
      div(class="row-between")
        input(id="one-min" name="time" type="radio")
        label(tabindex="0" for="one-min" class="butt") 1 min.
        input(id="thr-min" name="time" type="radio")
        label(tabindex="0" for="thr-min" class="butt") 3 min.
        input(id="ten-min" name="time" type="radio")
        label(tabindex="0" for="ten-min" class="butt") 10 min.
        input(id="inf-min" name="time" type="radio")
        label(tabindex="0" for="inf-min" class="butt") ∞ min.
      div(class="row-center")
        input(id="ready" type="checkbox")
        label(tabindex="0" for="ready" class="butt") Ready
  div(id="controls" class="b1 col-between")
    div(class="row-between")
      div(class="row-between")
        canvas(id="future-canvas" width="1600" height="200")
        img(id="future-img" width="160" height="20" src="nothing.png")
      div(class="row-between")
        button(id="resign" class="butt") Resign
        button(id="number-toggle" class="butt") 1 2 3
    div(class="row-between")
      div(class="flex half")
        div(id="my-color" class="sq")
        div(style="width: 12px")
        div(class="my-name")
        div(id="my-time" class="timer")
      div(style="width: 12px")
      div(class="flex half")
        div(id="their-time" class="timer")
        div(class="their-name")
        div(style="width: 12px")
        div(id="their-color" class="sq")

block scripts
  //Gives us the socket.io framework.
  script(src="/socket.io/socket.io.js")
  //Gives us methods that the main script uses.
  script(src="/gameModule.js")
  script(src="/show.js")
  //Pug passes us the id.
  script.
    var id = "#{id}";
  //Gives us the main script.
  script(src="/main.js")
