extends base

block title
  title TMC4 | Play!

block content
  //Very important comment!
  div(class="b1 flex")
    div(class="flex")
      img(class="m4" height="20" src="logo.svg")
      div(id="marquee" class="m4 vct") Thue-Morse Connect Four
  div(class="b1")
    canvas(id="board-canvas" width="1400" height="1200")
    img(id="board-img")
  div(class="b1 flex justify-content-between")
    div(class="flex")
      canvas(id="future-canvas" width="1600" height="200")
      img(id="future-img" class="m4" width="160" height="20" src="nothing.png")
    div(class="flex")
      button(id="reset" class="m4") Reset
  div(class="b1 flex")
    div(class="flex half")
      div(id="my-color" class="m4 sq")
      div(id="my-name" class="m4")
      input(id="my-name-input" class="m4" type="text" placeholder="enter a name")
      div(id="red-div" class="timer m4 vct") 00:00
    div(class="flex half")
      div(id="blu-div" class="timer m4 vct") 00:00
      div(id="their-name" class="m4")
      div(id="their-color" class="m4 sq")

block scripts
  //Gives us the socket.io framework.
  script(src="/socket.io/socket.io.js")
  //Gives us methods that the main script uses.
  script(src="/logic.js")
  script(src="/display.js")
  //(Pug passes us the game object)
  script.
    var id = "#{id}";
    var handle = 0;
    var game = {};
    game.history = "";
  //Gives us the main script.
  script(src="/main.js")
