extends base

block title
  title TMC4 | Game Not Found!

block content
  div(class="b1 flex row-center")
    div(class="m4") Oops! Ya done fucked up.
  div(class="b1 flex row-center")
    a(href="/" class="m4 butt") Home
