extends base

block title
  title TMC4 | Welcome!

block content
  div(class="b1 flex justify-content-center")
    div(class="m4") Welcome to Thue-Morse Connect Four!
  form(method="GET" action="/game" class="b1 flex justify-content-center")
    input(name="id" type="hidden")
    button(class="m4" type="button") New Game

block scripts
  script(src="/new.js")
