extends base

block title
  title TMC4 | Welcome!

block content
  div(class="row border flex justify-content-center")
    div(class="m4") Welcome to Thue-Morse Connect Four!
  form(method="GET" class="row border flex justify-content-center")
    div(class="m4")
      input(id="id" name="id" type="hidden" readonly)
    div(class="m4")
      input(type="submit" value="New Game")
