extends base

block title
  title TMC4 | Join Game

block content
  form(action="play" method="POST" class="row border flex justify-content-between")
    div(class="m4")
      input(name="name" type="text" placeholder="Enter a name." required)
    div(class="m4")
      input(name="id" type="text" placeholder="Enter the game ID." required)
    div(class="m4")
      input(type="submit" value="Join Game")
