/* This stylesheet is for display, flex-direction, justify-content, align-items, position, border-style, outline-style, and cursor. */

/* The elements with class="b1" will have a border on all sides in large viewports and a border only on top and bottom in small viewports. */
@media (min-width: 576px) { .b1  { border-style: solid; } }
@media (max-width: 576px) { .b1  { border-style: solid none; } }

/* Containers. */
#universe                    { display: flex;  flex-direction: column; justify-content: flex-start;    align-items: center;                                                                }
#board-div                   { display: flex;                          justify-content: center;        align-items: center; position: relative;                                            }
#board-img                   { display: block;                                                                                                                                             }
#start-panel                 {                                                                                              position: absolute; border-style: solid;                       }
#play-panel                  {                                                                                              position: absolute; border-style: solid;                       }
#end-panel                   { display: none;                                                                               position: absolute; border-style: solid;                       }
#rematch-panel               { display: none;                                                                               position: absolute; border-style: solid;                       }
.col-between                 { display: flex;  flex-direction: column; justify-content: space-between;                                                                                     }
.row-between                 { display: flex;                          justify-content: space-between;                                                                                     }
.row-center                  { display: flex;                          justify-content: center;                                                                                            }

/* Items. */
canvas                       { display: none;  }
#start-panel .my-name:focus  {                                                                                                                                       outline-style: solid; }
#controls .my-name           { display: block; }
#controls .their-name        { display: block; }
.timer                       { display: flex;  align-items: center; }
input[type=radio]            { display: none;  }
input[type=checkbox]         { display: none;  }
.butt                        { display: flex; align-items: center; justify-content: center; border-style: none; }
.butt:hover                  {                                                                                                                                       cursor: pointer; }
.butt:focus                  { outline-style: solid; }
input                        { border-style: none; }

.flex {
  display: flex;
}
