/* This stylesheet is for width, height, padding, border-width, margin, outline-width, and flex. */

/* The element with id="box" floats in the middle of large viewports and fills the entirety of small viewports. */
@media (min-width: 576px) {
  #box        { width: 400px; margin-top: 88px;                                 }
  #rematch    {               margin-top: calc(398px/7);                        }
  #board-img  { width: 100%;                             height: calc(2388px/7) }
}
@media (max-width: 576px) {
  #box        { width: 100vw;                                                   }
  #rematch    {               margin-top: calc(100vw/7);                        }
  #board-img  { width: 100%;                             height: calc(600vw/7)  }
}

                       /* Fixed-size containers. */
                 body  {                                                                margin: 0px;                    }
            #universe  { width: 100vw; height: 100vh;                                                                   }
               #start  { width: 276px; height: 84px;  padding: 12px; border-width: 2px;                                 }
#play, #end, #rematch  {                              padding: 2px;  border-width: 2px;                                 }
            #controls  {               height: 52px;  padding: 12px;                                                    }
                  .b1  {                                             border-width: 1px;                                 }
                .half  { width: 50%;                                                                                    }
           #two-butts  { max-width: 132px;  flex: 1; }

                       /* Items. */
         #start .name  { width: 116px; height: 20px;  padding: 0px;                                                     }
   #start .name:focus  {                                                                            outline-width: 2px; }
      #controls .name  {                    flex: 1; }
                .butt  { width: 60px;  height: 20px;  padding: 0px;                                                     }
          .butt:focus  {                                                                            outline-width: 2px; }
                  .sq  { width: 20px;  height: 20px;                                                                    }

.m4 {
  margin: 4px;
}
