@media (min-width: 576px)
{
  .b1  { border-style: solid; }
}
@media (max-width: 576px) { 
  .b1  { border-style: solid none; }
}

#universe  { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
#board-div { display: flex; position: relative; justify-content: center; align-items: center; }
#board-img { display: block; }
#start-panel, #play-panel, #end-panel     { background-color: white; position: absolute; border-style: solid; border-color: gray; }

#start-panel, #controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#end-panel {
  display: none;
}

#start-panel .my-name, #start-panel .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
}

#controls .my-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  flex: 1;
}

#controls .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  flex: 1;
}

.b1 {
  border-color: gray;
}

canvas {
  display: none;
}

input {
  border-style: none;
  font-family: inherit;
  font-size: inherit;
}

/* Hide native radio and checkbox elements. We use custom-styled labels instead. */
input[type=radio], input[type=checkbox] {
  display: none;
}

/* Base style for anchors, radio labels, checkbox labels, and real buttons. Visited anchors don't look any different. */
.butt, .butt:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  color: black;
  font-family: inherit;
  text-decoration: none;
  border: none;
}

/* Focusing on a butt gives it a blue outline. */
.butt:focus, #start-panel .my-name:focus {
  outline-style: solid;
  outline-color: #007bff;
}

 /* Hovering over a butt makes it a lil darker. */
.butt:hover {
  background-color: silver;
  cursor: pointer;
}

/* Active butts, checked radio labels, and checked checkbox labels are even darker, with white text. */
.butt:active, input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  background-color: gray;
  color: white;
}

img {
  background-color: #D8D8D8;
}

.vct {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

#controls .my-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  flex: 1;
}

#controls .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  flex: 1;
}

.timer {
  font-family: "Lucida Console", Monaco, monospace;
}

.sq {
  background-color: #D8D8D8;
}
