body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.universe {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 576px) {
  .box {
    margin-top: 88px;
    width: 400px;
  }
  .inner-box {
    width: 300px;
    background-color: white;
    position: absolute;
  }
  .b1 {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
  }
}

@media (max-width: 576px) {
  .box {
    width: 100vw;
  }
  .inner-box {
    width: 75vw;
    background-color: white;
    position: absolute;
  }
  .b1 {
    border-style: solid none;
    border-width: 1px;
    border-color: gray;
  }
}

.b2 {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}

#board-img {
  display: block;
  width: 100%;
}

.board {
  position: relative;
}

canvas {
  display: none;
}

input {
  border-style: none;
  font-family: inherit;
  font-size: inherit;
}

input[type=checkbox] {
  visibility: hidden;
}

input[type=checkbox]:checked + label {
  background-color: red;
}

.butt, .butt:visited {
  background-color: #D8D8D8;
  font-family: inherit;
  font-size: 14px;
  padding: 2px 7px;
  text-align: center; 
  text-decoration: none;
  color: black;
  border: none;
}

.butt:hover {
  background-color: gray;
  cursor: pointer;
}

.butt:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #007bff;
}

img {
  background-color: #D8D8D8;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.vct {
  display: flex;
  align-items: center;
}

.lat {
  display: flex;
  justify-content: flex-start;
}

.rat {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

#my-name-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  flex: 1;
}

#my-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  flex: 1;
}

.half {
  width: 50%;
}

#their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  flex: 1;
}

.timer {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10pt;
}

.sq {
  width: 20px;
  height: 20px;
  background-color: #D8D8D8;
}
