body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#universe {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#start-panel, #play-panel, #end-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding: 0px 12px;
}

#end-panel {
  display: none;
}

#start-panel .my-name, #start-panel .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
  width: 100px;
  height: 20px;
  padding: 0px;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 12px;
}

#controls .my-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  flex: 1;
}

#controls .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  flex: 1;
}

.b1 {
  border-width: 1px;
  border-color: gray;
}

@media (min-width: 576px) {
  #box {
    margin-top: 88px;
    width: 400px;
  }
  #start-panel {
    width: 276px;
    height: 108px;
  }
  #controls {
    height: 76px;
  }
  .b1 {
    border-style: solid;
  }
}

@media (max-width: 576px) {
  #box {
    width: 100vw;
  }
  #start-panel {
    width: 69vw;
    height: 27vw;
  }
  #controls {
    height: 19vw;
  }
  .b1 {
    border-style: solid none;
  }
}

#board-img {
  display: block;
  width: 100%;
}

#board-div {
  position: relative;
}

canvas {
  display: none;
}

input {
  border-style: none;
  font-family: inherit;
  font-size: inherit;
}

/* Hide native radio and checkbox elements. We use custom-styled labels instead. */
input[type=radio], input[type=checkbox] {
  display: none;
}

/* Base style for anchors, radio labels, checkbox labels, and real buttons. Visited anchors don't look any different. */
.butt, .butt:visited {
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8D8D8;
  color: black;
  font-family: inherit;
  font-size: 14px;
  padding: 0px;
  text-decoration: none;
  border: none;
}

/* Focusing on a butt gives it a blue outline. */
.butt:focus, #start-panel .my-name:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: #007bff;
}

 /* Hovering over a butt makes it a lil darker. */
.butt:hover {
  background-color: silver;
  cursor: pointer;
}

/* Active butts, checked radio labels, and checked checkbox labels are even darker, with white text. */
.butt:active, input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  background-color: gray;
  color: white;
}

img {
  background-color: #D8D8D8;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.vct {
  display: flex;
  align-items: center;
}

.lat {
  display: flex;
  justify-content: flex-start;
}

.rat {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

#controls .my-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: block;
  flex: 1;
}

.half {
  width: 50%;
}

.controls .their-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  display: block;
  flex: 1;
}

.timer {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 10pt;
}

.sq {
  width: 20px;
  height: 20px;
  background-color: #D8D8D8;
}
